{% extends 'shopapp/base.html' %}

 {% block title %}
    Confirm archive (delete) {{ object.name }}
 {% endblock %}

{% block body %}
   <h1>Are you sure want to archive (delete) {{ object.name }}</h1>
   <br>
   <div>
       <a href="{% url 'shopapp:product_details' pk=product.pk %}">Back to products #{{ object.pk }}</a>
   </div>
   <br>
   <div>
       <form method="post">
           {% csrf_token %}

           {{ form.as_p }}

           <button type="submit">
              Archive (Delete)
           </button>
       </form>
   </div>
{% endblock %}